{% extends 'main.html' %}
{% block content %}
<div class="container">
    <h1 class="title is-1 has-text-black">Form</h1>
    <form action="{% url 'edit_account' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="field">
            <label class="label has-text-black">{{ field.label }}</label>
            <div class="control">
                {{ field }}
            </div>
            {% if field.help_text %}
            <p class="help has-text-black">{{ field.help_text }}</p>
            {% endif %}
            {% for error in field.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        
        <div class="field is-grouped">
            <div class="control">
                <input type="submit" value="Submit" class="button is-link has-text-black">
            </div>
            <div class="control">
                <a href="{% url 'user_account' %}" class="button is-link is-light">Cancel</a>
            </div>
        </div>
    </form>
</div>
<br>
<br>

{% endblock %}
